{% extends 'base.html.twig' %}

{% import "macros/contributor.macros.html.twig" as contributorMacros %}


{% block title %}{{ parent()}} Improvisators{% endblock %}

{% block body %}


<div class=" ">
    <h1>Improvisator list</h1>

{% for improvisator in improvisators %}

{{ contributorMacros.contributorInline(improvisator) }}
{% endfor %}

</div>
{% endblock %}
