{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} Troupes{% endblock %}

{% block body %}


<div class=" ">
    <h1>Troupe list</h1>

{% for troupe in troupes %}
<a href="{{ path("troupe_identifier", {identifier: troupe.identifier}) }}">{{ troupe.name }} ({{ troupe.shortName }})</a> <br>
{% endfor %}

</div>
{% endblock %}
